$spacer-padding: 8px;

html, body{
  height: 100%;
}
body{
  margin: 0;
}
.flex{
  display: flex;
  &.column{
    flex-direction: column;
  }
  > .flex-grow{
    flex-grow: 1;
  }
  > .no-shrink{
    flex-shrink: 0;
  }
  > .self-center{
    align-self: center;
  }
}
.gpu-layer{
  will-change: transform;
}
.clickable{
  cursor: pointer;
}
.horizontal-spacer{
  padding-left: $spacer-padding;
  padding-right: $spacer-padding;
  display: flex;
  > *{
    margin-left: $spacer-padding;
    margin-right: $spacer-padding;
  }
}
.vertical-spacer{
  padding-top: $spacer-padding;
  padding-bottom: $spacer-padding;
  display: flex;
  flex-direction: column;
  > *{
    margin-top: $spacer-padding;
    margin-bottom: $spacer-padding;
  }
}