/// Padding related to .horizontal-spacer & .vertical-spacer rules
$spacer-padding: 8px;

html, body{
  height: 100%;
}
body{
  margin: 0;
}
/// Shows cursor on element
.clickable{
  cursor: pointer;
}
/// Quick flex display
/// .column to specify direction
///
/// .flex-grow on child to force it to grow
///
/// .no-shrink on child to prevent it to shrink
///
/// .self-center on child to center
.flex{
  display: flex;
  & .column{
    flex-direction: column;
  }
  > .flex-grow{
    flex-grow: 1;
  }
  > .no-shrink{
    flex-shrink: 0;
  }
  > .self-center{
    align-self: center;
  }
}
/// Pushes element to a unique GPU layer.
.gpu-layer{
  will-change: transform;
}
/// Automatic horizontal spacer
.horizontal-spacer{
  padding-left: $spacer-padding;
  padding-right: $spacer-padding;
  display: flex;
  > *{
    margin-left: $spacer-padding;
    margin-right: $spacer-padding;
  }
}
/// Automatic vertical spacer
.vertical-spacer{
  padding-top: $spacer-padding;
  padding-bottom: $spacer-padding;
  display: flex;
  flex-direction: column;
  > *{
    margin-top: $spacer-padding;
    margin-bottom: $spacer-padding;
  }
}